@import "normalize.css";
@import "button.css";
@import "font.css";
@import "dropdown.css";

html {
    background-color: #000;
    color: #FFFFFF;
}
body {
    padding: 50px 0 70px 0;
}
.section {
    padding-left: 60px;
    padding-right: 60px;
    max-width: 1440px;
    margin: auto;
    position: relative;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.border {
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    background-color: #000000;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center
}

.add-to-card {
    max-width: 600px;
}

.max-300 {
    max-width: 302px;
}

.marquee {
    background-color: #42FF00;
    color: #151515;
    padding: 10px 0;
}

.p-16-30 {
    padding: 16px 30px;
}

.flex {
    display: flex;
}

.align-start {
    align-items: flex-start
}

.flex-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}
.align-center {
    align-items: center;
}

.max-400 {
    max-width: 400px;
}

.header {
}

.mb-20 {
    margin-bottom: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.p-40 {
    padding: 40px;
}
.mt-30 {
    margin-top: 30px;
}

.checkbox-subscription {
    margin: 50px 0 30px 0 ;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
